<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632863823122-1kb03bbf41d1qbm965mmuh9g71nsbilk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632863823122-1kb03bbf41d1qbm965mmuh9g71nsbilk</string>
	<key>API_KEY</key>
	<string>AIzaSyA93ap9BfqyHBIOs6I0HRNcTxRCIwk_48c</string>
	<key>GCM_SENDER_ID</key>
	<string>632863823122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.myProject</string>
	<key>PROJECT_ID</key>
	<string>synologyinvoiceproject</string>
	<key>STORAGE_BUCKET</key>
	<string>synologyinvoiceproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632863823122:ios:2f4e6d4215022099aecfcb</string>
</dict>
</plist>